.log_in{
    background-image: url(../img/bac2.jpg);
    background-size: 100%;
    text-align: center;
}

.log_in_dev{
    position: relative;

}
.log_in_form{
    background-image: url(../img/7.jpg);
    width: 500px;
    height: 300px;
    text-align: left;
    position: relative;
    top:150px;
    left: 400px;
    font-size: xx-large;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
 
}
#windows_num{
    width: 206px;
    height: 45px;
    font-size: large;
    text-align: center;
    position:absolute;
    top:6px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 20px;
}

#User_Name{
    width: 200px;
    height: 40px;
    position: absolute;
    left: 0px;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}
#Password{
    width: 200px;
    height: 40px;
    position: absolute;
    left: 0px;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}
.log_in_sub{
    width: 200px;
    height: 40px;
    position: relative;
    left: 130px;
    bottom: 3px;
    background-color:rgba(0, 0, 0, 0);
    font-size:25px;
    font-weight: bold;
    border-radius: 20px;

}
.log_in_sub:hover{
    background-color: grey;
}
#Password:focus{
    background-color:white;
}
#User_Name:focus{
    background-color: white;
    font-size: large;
}
option{
    background-color:rgba(134, 210, 230, 0.76);
}
.label_log{

    position: relative;
    left: 300px;
}
